# Main
pyrofork
tgcrypto==1.2.5  
aiofiles==23.2.1  
aiohttp==3.8.5  
requests==2.31.0  
beautifulsoup4==4.12.2  
httpx==0.23.2

# Database

pymongo==4.11.1
dnspython==2.7.0
marshmallow==3.20.1
umongo==3.1.0
motor==3.7.0     

# YouTube Downloader (ytdl)
youtube-search-python==1.6.6
yt-dlp==2023.10.07 

# IMDb
cinemagoer==2023.9.1 

# Others
opencv-python-headless==4.8.1.78 
googletrans==4.0.0-rc1  
telegraph==2.2.0  
python-dotenv==1.0.0 
gTTS==2.4.0  
Pillow==10.0.1 
psutil==5.9.6  
numpy==1.26.2 
wheel==0.41.3 
ujson==5.8.0 
wget==3.2
pytz==2023.3
